:root {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	font-weight: 400;
  }
  
  body {
	padding: 0;
	margin: 0;
	justify-content: center;
    align-items: center;
  }
  
  label {
	display: block;
  }
  
  .form {
	width: 400px;
	margin: 50px auto;
	background: white;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  input[type="text"],
  [type="password"] {
	display: block;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	margin: 5px 0 10px 0;
  }
  
  input[type="button"],
  button {
	background-color: rgb(39, 131, 212);
	padding: 10px;
	border: 0;
	min-width: 100px;
	border-radius: 5px;
	color: white;
  }
  
  nav {
	background-color: #eee;
  }
  
  nav ul {
	margin: 0;
  }
  
  nav ul li {
	display: inline-block;
	padding: 10px;
  }
  
  a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 18px;
  }
  .sign-out-link-container {
	text-align: center;
  }
  
  .sign-out-link {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	color: black;
	font-weight: bold;	
  }
  .dashboard {
	width: 500px;
	margin: auto;
  }
  
  .errorMessage {
	background-color: #f2dede;
	color: #a94442;
	padding: 10px;
  }